// utility classes - color palette 

// text color
.color-primary__text {color: var(--folio-primary);}
.color-turq__text {color: var(--folio-turq);}
.color-turq-light__text {color: var(--folio-turq-light);}
.color-grey__dark01 {color: var(--folio-grey__dark01)}
.color-grey__dark02 {color: var(--folio-grey__dark02)}
.color-grey__dark03 {color: var(--folio-grey__dark03)}
.color-grey__dark04 {color: var(--folio-grey__dark04)}
.color-grey__light01 {color: var(--folio-grey__light01)}
.color-grey__light02 {color: var(--folio-grey__light02)}
.color-grey__light03 {color: var(--folio-grey__light03)}
.color-grey__light04 {color: var(--folio-grey__light04)}
.color-grey__light05 {color: var(--folio-grey__light05)}
.color-grey__light06 {color: var(--folio-grey__light06)}

// background
.back-tint01 {background-color: var(--folio-tint01)}
.back-grey__light01 {background-color: var(--folio-grey__light01)}
.back-grey__light02 {background-color: var(--folio-grey__light02)}
.back-grey__light03 {background-color: var(--folio-grey__light03)}
.back-grey__light04 {background-color: var(--folio-grey__light04)}
.back-grey__light05 {background-color: var(--folio-grey__light05)}
.back-grey__light06 {background-color: var(--folio-grey__light06)}
