/*
    ==== selected:
    font-family: 'DM Serif Display', serif; - 1 weight
    font-family: 'Inter', sans-serif; - 400 / 600
    font-family: 'Lora', serif; - ital / 400 / 500  
    ==== explored:
    font-family: 'Arbutus Slab', serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Commissioner', sans-serif;
    font-family: 'Sarabun', sans-serif;
    font-family: 'Source Serif Pro', serif;
    ==== sizes
    4rem = 64dp
    2rem = 32dp
    1.5rem = 20dp
    1rem = 16dp
    .875rem = 14dp
    .75rem = 12dp
*/

.h1 {
    font-family: var(--display-serif);
    font-weight: 400;
    font-size: 4rem;
    line-height: 1.1;
    margin: 0;
}
.h2 {
    font-family: var(--text-sans);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.3;
}
.h3 {
    font-family: var(--text-sans);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.3;
}
.folio-link {
    color: var(--folio-grey__dark01);
    display: inline-block;
    text-decoration: none;
    position: relative;

    &:before {
        position: absolute;
        bottom: -.1rem;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--folio-grey__light03);
        transition: var(--transition01);
        content: '';
    }
    &:hover:before {
        background-color: var(--folio-turq);
    }
}
.folio-link--effect {
    display: inline-block;
    position: relative;
    color: var(--folio-grey__dark01);
    text-decoration: none;

    &:before, &:after {
        position: absolute;
        left: 0;
        bottom: -0.4rem;
        width: 100%;
        height: 2px;
        background-color: var(--folio-turq);
        transform-origin: bottom;
        transition: var(--transition01);
        opacity: .2;
        content: "";
    }
    &:after {
        transform: scaleX(0);
    }

    &:hover:after {
        opacity: 1;
        transform: scaleY(1);
    }
}
.folio-caption {
    font-family: var(--text-serif);
    font-size: .875rem;
    text-align: center;

    a {
        color: var(--folio-grey__dark01);
        transition: var(--transition01);

        &:hover {
            color: var(--folio-turq);
        }
    }
}
.folio-pullquote {
    font-family: var(--text-serif);
    font-style: italic;
    font-size: 1.2rem;
    background-color: var(--folio-tint02);
    padding: 2rem;
    border-left: 1px solid var(--folio-turq);

    &__inner {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .h1 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 380px) {
    .h2 {
        font-size: 1.5rem;
    }
}